2BSorted/peoplefinder/code/java/PeopleFinder/Model/classes/au/com/leighton/portal/peoplefinder/model/locationsearch/PhoSearchLocations.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Portal/PhoSearchLocations/PhoSearchLocations"
     xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/Portal/PhoSearchLocations/PhoSearchLocations">
    <xs:element name="process">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SearchType" type="xs:string" minOccurs="1" nillable="false"/>
                <xs:element name="SimpleSearch" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_locn" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_company" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_suburb" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_state" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_phone" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_vpn" type="xs:string" minOccurs="0" nillable="true"/>
                <xs:element name="i_notes" type="xs:string" minOccurs="0" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="processResponse" type="PhoSearchResultOutputCollection"/>
    <xs:complexType name="PhoSearchResultOutputCollection">
        <xs:sequence>
            <xs:element name="NUMFOUND" type="xs:decimal" nillable="true"/>
            <xs:element name="RESULT" type="xs:string" nillable="true"/>
            <xs:element name="PhoLocation" type="PhoLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PhoLocation">
        <xs:sequence>
            <xs:element name="locationId" type="xs:decimal"/>
            <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="publishedPh" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="faxNo" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="companyId" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="companyName" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
